[defaults]
callbacks_enabled=ansible.posix.timer
force_color=True
host_key_checking=False
inventory=/etc/ansible/inventory.yaml
stdout_callback=ansible.builtin.default
vault_password_file=/etc/ansible/vault.secret
result_format = yaml